In [2]:
## Movie Review classification model, based on the text of movie review

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv ("./UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv", sep='\t')

In [5]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [6]:
len (df)

2000

In [7]:
df['label'].unique()

array(['neg', 'pos'], dtype=object)

In [11]:
# print(df['review'][2])

In [13]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [14]:
df.dropna (inplace=True)

In [15]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [16]:
blanks = []
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append (i)

In [17]:
df.drop (blanks, inplace=True)

In [19]:
len(df)

1938

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X = df['review']
y = df['label']

In [49]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.3, random_state = 42)

In [51]:
# y_test

In [44]:
### Building a pipeline
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [45]:
text_clf = Pipeline ([('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [46]:
text_clf.fit (X_train, y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [47]:
predictions = text_clf.predict (X_test)

In [48]:
from sklearn import metrics

In [52]:
print (metrics.confusion_matrix (y_test, predictions))

[[235  47]
 [ 41 259]]

In [53]:
print (metrics.classification_report (y_test, predictions))

              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

   micro avg       0.85      0.85      0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582