In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv ("./UPDATED_NLP_COURSE/TextFiles/smsspamcollection.tsv", sep='\t')

In [3]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [4]:
# We will be using only raw text as feature

In [6]:
X = df['message']
y = df['label']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.3, random_state = 42 )

In [11]:
X_train.shape

(3900,)

In [13]:
X_test.shape

(1672,)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [27]:
count_vect = CountVectorizer()

In [28]:
count_vect.fit (X_train)
count_vect.transform(X_train)

<3900x7263 sparse matrix of type '<class 'numpy.int64'>'
	with 52150 stored elements in Compressed Sparse Row format>

In [29]:
X_train_counts = count_vect.fit_transform(X_train)

In [30]:
X_train_counts.shape

(3900, 7263)

In [33]:
tfidf_trans = TfidfTransformer()

In [35]:
X_train_tfidf = tfidf_trans.fit_transform (X_train_counts) # Pass in the count_vect.fit_transform (X_train) instance

In [37]:
X_train_tfidf.shape

(3900, 7263)