In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ("../UPDATED_NLP_COURSE/TextFiles/smsspamcollection.tsv", sep = '\t')

In [3]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [6]:
len (df)

5572